<div class="chromosome-container py-5" (mousedown)="mouse_down($event)">
	<div [style.left.px]="left" [style.width.px]="width" class="bounding-box"
		#selection_box>
	</div>
	
	<div class="mr-2 inline" (click)="move_browser(-1)">
		<i class="fas fa-angle-double-left fa-2x"></i>
	</div>

	<div class="mr-2 inline" (click)="move_browser(-0.5)">
	<i class="fas fa-angle-left fa-2x"></i>
	</div>

	<div class="chromosome-img" #chromosome_img>
  <img class="chromosome" [style.top.px]="chromosome_top" src="./../../assets/chromosomes.png" #chromosome
                            (load)="onLoad()" draggable="false">
	</div>

	<div class="ml-2 inline" (click)="move_browser(0.5)">
		<i class="fas fa-angle-right fa-2x"></i>
	</div>
	<div class="ml-2 inline" (click)="move_browser(1)">
	<i class="fas fa-angle-double-right fa-2x"></i>
	</div>

</div>

