<div class="container-fluid justify-content-center">
	<div class="row justify-content-center">
		<div [style.width.px]="width" [style.height.px]="height" class="position-absolute
      overflow black-border" #content_container>
			<app-ruler [width]='width' [coord]='coord'>
			</app-ruler>
			<app-dna-ruler [width]='width' [coord]='coord'>
			</app-dna-ruler>
			<app-gene [width]='child_width' [coord]='child_coords' [genes]='child_genes' [is_labeled]='is_labeled'
								(show_exons)='toggle_show($event)' (new_coords)='set_coord($event)'
                 [container_height]='height'>
			</app-gene>
		</div>
	</div>
</div>
