<div class="container-fluid justify-content-center">
	<div class="row justify-content-center">
		<div [style.width.px]="width" [style.height.px]="height" class="position-absolute
      overflow black-border" #content_container>
			<app-ruler #ruler [width]="child_width" [coord]="child_coords">
			</app-ruler>

			<app-dna-ruler #dnaRuler *ngIf="dna" [width]="child_width" [dna]="dna">
			</app-dna-ruler>

			<app-gene [width]="child_width" [coord]="child_coords" [genes]="child_genes" [is_labeled]="is_labeled"
								(selected_gene_emit)="toggle_show($event)" (new_coords)="set_coord($event)"
                 [container_height]="height">
			</app-gene>
			<app-gene-popup [gene]="selected_gene" [width]="child_width" [top_offset]="top_offset">
			</app-gene-popup>
		</div>
	</div>
</div>
